<style>
  .facet__category-selector-holder .category-selector {
    flex-wrap: wrap;
  }

  .facet__category-selector-holder .category-selector li {
    border-right: 1px solid #666;
    margin: 1px;
  }
</style>

<div class="page">
  <div class="page__body">
    <semantic-search search-profile='{"categories": [], "relations": []}'>
	      <semantic-search-query-graphscope></semantic-search-query-graphscope>
      <div data-flex-layout="row stretch-stretch" style="margin-top: 20px;">
        <semantic-search-result-holder>
          <div data-flex-self="md-full" style='min-width: 0;'>
            <div style="margin: 20px 0;">
              <semantic-search-results-explanation-graphscope></semantic-search-results-explanation-graphscope>
            </div>
            <semantic-context repository="graphscope-ephedra">
              <div>
              [[> "http://www.metaphacts.com/resource/GraphScopeSearchResultCountFragment"]]
              <bs-tabs id="tabs" unmount-on-exit=true animation=false>
                <bs-tab event-key="1" title="Diagram">
                  <div style="height: calc(65vh)">
                      [[> "http://www.metaphacts.com/resource/GraphScopeSearchResultOntodiaFragment"]]
                  </div>
                </bs-tab>
                <bs-tab event-key="2" title="Table">
                    [[> "http://www.metaphacts.com/resource/GraphScopeSearchResultTableFragment"]]
                </bs-tab>
              </bs-tabs>
              </div>
            </semantic-context>
          </div>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
  </div>
</div>
